appnope~=0.1
asttokens~=3.0
comm~=0.2
debugpy~=1.8
decorator~=5.2
executing~=2.2
ipykernel~=6.29
ipython~=8.18
jedi~=0.19
jupyter_client~=8.6
jupyter_core~=5.7
matplotlib-inline~=0.1
nest-asyncio~=1.6
numpy~=2.0
opencv-python~=4.11
packaging~=24.2
pandas~=2.2
parso~=0.8
pathlib~=1.0
pexpect~=4.9
platformdirs~=4.3
prompt_toolkit~=3.0
psutil~=7.0
ptyprocess~=0.7
pure-eval~=0.2
Pygments~=2.19
python-dateutil~=2.9
pytz~=2025.2
pyzmq~=26.4
six~=1.17
stack-data~=0.6
tornado~=6.4
traitlets~=5.14
tzdata~=2025.2
wcwidth~=0.2
